# Fingerprint
system_public_prop(vendor_fingerprint_prop)

type csc_prop, property_type, system_property_type, system_public_property_type;

system_public_prop(vendor_call_prop)
